* {
  transition: all 0.5s;
  box-sizing: border-box;
}

body {
  display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
  margin: 0 0 50px;
  background-color: bisque;
}

#root {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	width: 1020px;
}

.header {
  width: 100%;
  text-align: center;
}

.project {
	border-radius: 15px;
	color: #333;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	flex-direction: column;
	text-align: center;
	margin: 40px;
	height: 150px;
	width: 300px;
	text-decoration: none;
	transition: 0.3s ease;
	background: rgb(244, 241, 241);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
	/* box-shadow: 2px 3px 13px rgb(33, 33, 33); */

}
.project .personName{
	visibility: hidden;
}

.project .projectcode{
	visibility: hidden;
}
.projectcode{
	margin-left: 80px;
	margin-right: 80px;
}
.projectcode:hover{
	box-shadow: 2px 2px 14px grey;
	padding: 2px;
}
.project:hover {
	background-color: #cbc1c1;
	height: 250px;
	transition: 0.3s;
}
.project:hover .personName{
	visibility: visible;
}
.project:hover .projectcode{
	visibility: visible;
}

.project img {
	position: relative;
	height: 150px;
	width: 150px;
	object-fit: cover;
	top:-40px;
	left: 75px;
	border-radius: 50px;
	box-shadow: 2px 2px 15px black;
	margin-bottom: -30px;
}
.personName{
	font-size: sans-serif;
	line-height: 1.2em;
	font-size: 20px;
	padding: 0px;
}
.projectcode{
	font-size: serif;
	line-height: .75pm;
	color:#393535;
	text-decoration: none;
	opacity: 0.8;
}
