* {
  transition: all 0.5s;
  box-sizing: border-box;
}

body {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  margin: 0 0 50px;
}

#root {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	width: 1020px;
}

.header {
  width: 100%;
  text-align: center;
}

.project {
	border-radius: 5px;
	color: #333;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	flex-direction: column;
	text-align: center;
	margin: 20px;
	width: 300px;
	text-decoration: none;
	transition: 0.3s ease;
}

.project:hover {
	background-color: #f0f0f0;
	transform: scale(1.05);
}

.project img {
	border-radius: 5px;
	max-width: 100%;
}